form > div{
    margin-bottom: 10px;
    display:flex;
    align-items: center;
}

label{
    display:inline-block;
    width: 100px;
}

.error{
    color:red;
    font-size:12px;
    margin-left:5px;
    display:none;
}

#icone {
    max-height: 128px;
    width: auto;
}